<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= locals.title %></title>
		<meta name="description" content="<%= locals.description %>" />
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css"
			integrity="sha512-NtU/Act0MEcVPyqC153eyoq9L+UHkd0s22FjIaKByyA6KtZPrkm/O5c5xzaia4pyCfReCS634HyQ7tJwKNxC/g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script type="text/javascript" defer src="/js/script.js"></script>
	</head>
	<body>
		<%- include('../partials/search.ejs') %>
		<div class="container">
			<%- include('../partials/header.ejs') %>
			<main class="main"><%- body %></main>
			<%- include('../partials/footer.ejs') %>
		</div>
	</body>
</html>
